
#apexcharts-doughnut{
  display: block;
  position: absolute;
  height: 100;
}

.data{
  position: relative;  
  padding: 0%;
}
.progressDesc{
  position: relative;
  top: 75%;
  font-size: 20px;
}
.innerProgress{
  position: relative;
}

